.playlistcard{
    width: 450px;
    height: 584px;
    margin: 20px 50px ;
    float: left;
    position: relative;
}
.cardsubtitle{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

.wholePage{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .3),
        rgba(20,20,20, .3)),
        url("../../images/vinyls.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;


}

.playlist-jumbo{
    background-image: url("../../images/vinyls.jpg");
    color: white;
    text-align: center;
}