.playlistcard{
    width: 450px;
    height: 584px;
    margin: 20px 50px ;
    float: left;
    position: relative;
}
.cardsubtitle{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}
.playlistContainer{
    background-color: black;
}
.wholePage{
    background-color: black;
}

.jumbotron{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkLJniUr4EFCulbGflXNYssRnOq9GP_RHCksKEqxrO7XnASBxoRQ");
    color: white;
    text-align: center;
}