#eq {

    position: fixed;
    top: 83%;
    left: 85%;
    height: 100px;
    width: 10%;
}

.popup {
    position: fixed;
    top: 76%;
    left: 45%;
    width: 50%;
}

#musics {
    position: fixed;
    width: 100%;
    top: 500px;
}
