/* .jumbotron {
  min-height: 100px;
  padding-top: 100px;
  background-image: url(../../images/shots.jpg);
  background-position: 0% 25%;
  /* background-size: cover; */
  /* background-repeat: no-repeat;
} */
