.bg-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .2), 
        rgba(20,20,20, .2)),
        url("../../images/bright.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:  rgba(20,20,20, .4), 
    rgba(20,20,20, .4);
    opacity: 0.5;
  }

.loadingContent {
    z-index: 10;

}

#circle {
    z-index: 50;
    margin-left: 38%;
    height: 75%;
    width: 60%;
    margin-top: 10%;
    height: 75%;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.2));
 
}


 #ontapword {
    z-index: 99;
    height: 50%;
    width: 50%;
    margin-top: -40%;
    margin-left: 51%;
    color: white;
    font-size: 140px;
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    -webkit-text-stroke: 1.8px grey;

} 

#smolbeer {
    margin-left: -4%;
    margin-top: -2%;
    margin-bottom: 2%;
    height: 9%;
    width: 9%;
    margin-left: 63%;
    margin-top:-43%;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.8));

}

#toplay {
    z-index: 99;
    color: white;
    margin-left: 64%;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top:-20%;
    font-weight: bold;

}

.same-stuff {
    margin-top: -36%;
    margin-left: 4%;
    letter-spacing: 4px;
    color: white;
    z-index: 99;
    text-shadow:
    2px 2px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;

}