

.bg-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .2), 
        rgba(20,20,20, .2)),
        url("../../images/bright.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:  rgba(20,20,20, .4), 
    rgba(20,20,20, .4);
    opacity: 0.5;
  }

  .loadingContent {
    position: relative;
    z-index: 10;
  }

/* #logo {
    z-index: 99;
    height: 20%;
    width: 20%;
    margin-top: -20%;
    margin-left: 350px;
} */ 

#circle {
    z-index: 50;
    margin-left: 40%;
    height: 75%;
    margin-top: 10%;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.2));
 
}

 #ontapword {
    z-index: 99;
    height: 50%;
    width: 50%;
    margin-top: -44%;
    margin-left: 51%;
    color: white;
    font-size: 140px;
    font-family: 'Boogaloo', cursive;
    letter-spacing: 4px;
    font-weight: bold;
    -webkit-text-stroke: 1.8px grey;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;

} 

#smolbeer {
    z-index: 99;
    height: 9%;
    width: 9%;
    margin-left: 65.5%;
    margin-top:-47%;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.8));

}

#toplay {
    z-index: 99;
    color: white;
    margin-left: 65%;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top:-22%;
    font-weight: bold;
    text-shadow:
    2px 2px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;


}