.FoodDivContainer {
    text-align: center;
    margin: auto;
    color: grey;
    letter-spacing: 1px;

}

/* .food-img {
    background: url("../../images/spoon.png");
    background-repeat: repeat;
} */


.foodjumbotron{
    background-image: url("../../images/food.jpg");
    color: white;
    height: 300px;
    background-size: cover;

}

.display-3{
    letter-spacing: 7px;
    font-family: 'Oswald', sans-serif;
    top: 20%;
    font-size: 80px;
    padding-top: 5%;
    opacity: 0.9;

}


.foodcard{
    width: 425px;
    height: 584px;
    margin: 30px 25px;
    padding-left: 5px; 
    float: left;
    position: relative;
}

.secondcardimage{
    width: 418px;
    
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.link:visited{
    color: purple;
}

.lead {
    font-weight: bold;
}

.cardTitle {
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    /* color: rgb(153, 151, 151); */
    background-color: lightblue;
    padding: 10px;
    border-style: dotted;
}


    /* background-color: lightblue;
    height: 100%;
} */


.link {
    letter-spacing: 1px;
    color: GREY;
    padding: 8px;
    font-weight: bold;
    
}