.divContainer {
    text-align: center;
    margin: auto;
    
}
ul{
    position: relative;
}
.jumbotron{
    background-color: #b1dfe8;
}

.foodcard{
    width: 450px;
    margin: 20px 50px ;
    float: left;
    position: relative;
}



.secondcardimage{
    width: 420px;
    
}

.linkButton{
    margin: auto;
}
.divContainer{
    background-image: url("https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44f4aebbd1e1371d5bf7dc22016c5d29&w=1000&q=80")
}