.FoodDivContainer {
    text-align: center;
    margin: auto;
    
}

.foodjumbotron{
    background-image: url("../../images/food.jpg");
    color: white;
    height: 300px;
    background-size: cover;

}

.display-3{
    letter-spacing: 7px;
    font-family: 'Oswald', sans-serif;
    top: 20%;
    font-size: 80px;
    padding-top: 5%;
    opacity: 0.9;

}

.cardTitle{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

.foodcard{
    width: 450px;
    height: 584px;
    margin: 20px 50px ;
    float: left;
    position: relative;
}

.secondcardimage{
    width: 420px;
    
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.link:visited{
    color: purple;
}