#left {
    position: relative;
    float: left;
    width: 45%;
    margin: 10px;
}

#right {
    position: relative;
    float: right;
    width: 50%;
}

h2 {
    text-align: center;
}

img {
    width: 100%;
    padding-left: 30px;
}

input {
    position: relative;
    width: 300px !important;
}