body {
    margin:0
}
#content {
    float:left;
    width:67%;
    padding: 20px;
    margin-left: -35px;
}
#sidebar {
    float:left;
    width:34%;
    background: white;
    margin-top: 5.18%;

 
}

.form-group {
    margin-top: -5px;
    padding-bottom: 10px;
}

#signuplogo {
    margin-top: 10%;
    padding-top: 30px;
    height: 100%;
    width: 100%;
    padding: 40px;
    
}

#what {
    text-align: center;
    margin-top: 0%;
    font-size: 35px;
    font-family: 'Cookie', cursive;
    /* color: #B1DFE8; */
    color: #FFC65C;
    letter-spacing:2px;
    font-weight: lighter;

}

#hip {
    width: 100%;
    padding-left: 10px;
    /* height:110%; */
    margin-top: 6%;
}

input {
    position: relative;
    width: 300px !important;
}

#hello {
    color: white;
    font-size: 80px;
    z-index: 50;
    margin-top: -45%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 11px;
    opacity: 0.9; 
    /* text-shadow:
    2px 2px 0 rgb(100, 97, 97),
  -1px -1px 0 rgb(100, 97, 97),  
   1px -1px 0 rgb(100, 97, 97),
   -1px 1px 0 rgb(100, 97, 97),
    1px 1px 0 rgb(100, 97, 97); */
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6));

}

#log {
    font-size: 12px;
    color: grey;
    padding-top: 5px;
}

#seat {
    color: white;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    opacity: 0.9;

}

