.buttonContainer {
    display: block;
    width: 100%;
}
 .game {
    width: 80%;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    opacity: 0.8;
    overflow-y: scroll;
}
 .instructions {
    text-align: left;
}