.buttonContainer {
    display: block;
    width: 100%;
}

.headerPhoto {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.btn {
    margin: 5px;
    width: 100px;
}
 .game {
    padding: 20px;
    width: 80%;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 10px solid lightgrey;
    background-color:rgba(255, 255, 255, 0.842);
    opacity: 0.9;
    overflow-y: scroll;
}
 .instructions {
    text-align: left;
    color: rgb(56, 56, 56);
    line-height: 25px;
}
#gamename {
    color: slategrey;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 40px;

}

#rating {
    letter-spacing: 2px;
    font-weight: bold;
    color: grey;
    font-size: 22px;
    margin-top: 2%;
}