.games-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .3),
        rgba(20,20,20, .3)),
        url("../images/playing.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

 #gamesmolbeer {
    margin-bottom: 2%;
    height: 10%;
    width: 6%;
    margin-left: -24%;
    margin-top:27%;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.8));
 }

 #gametoplay {
    z-index: 99;
    color: white;
    margin-left: -6%;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top:34%;
    font-weight: bold;
 }

#game {
    display: inline;
    margin-top: 17%;
    margin-left: 30%;
    color: white;
    font-size: 100px;
    letter-spacing: 2px;
    text-shadow:
    3px 3px 0 #3E333F,
  -1px -1px 0 #3E333F,
   1px -1px 0 #3E333F,
   -1px 1px 0 #3E333F,
    1px 1px 0 #3E333F;
     /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey; */
}

.gameSpan {
    display: block;
    width: 80%;
    margin: 15% auto;
    text-align: center;
}

.currentPlayers {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow:
    3px 3px 0 #3E333F,
  -1px -1px 0 #3E333F,
   1px -1px 0 #3E333F,
   -1px 1px 0 #3E333F,
    1px 1px 0 #3E333F;
}

.playerList {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow:
    3px 3px 0 #3E333F,
  -1px -1px 0 #3E333F,
   1px -1px 0 #3E333F,
   -1px 1px 0 #3E333F,
    1px 1px 0 #3E333F;
}

.playerHeader {
    display: inline;
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow:
    3px 3px 0 #3E333F,
  -1px -1px 0 #3E333F,
   1px -1px 0 #3E333F,
   -1px 1px 0 #3E333F,
    1px 1px 0 #3E333F;
}

.playerSpan {
    display: block;
    width: 80%;
    margin: 15% auto;
    text-align: center;
}
.playerName {
    width: 300px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.players {
    color: white;
}

.spinner {
    width: 120px;
    padding: 0 8px;
}

.spinnerSpan {
    display: block;
    margin: 0 auto;
}


.playerButton {
    width: 100px;
    text-align: center;
}

#gameText {
    display: inline;
    margin: 17% auto;
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow:
    3px 3px 0 #3E333F,
  -1px -1px 0 #3E333F,
   1px -1px 0 #3E333F,
   -1px 1px 0 #3E333F,
    1px 1px 0 #3E333F;
}

#tipsy {
    font-size: 120px;
    color: rgb(124, 193, 240);
    font-family: 'Dancing Script', cursive;
    margin-top: 15.6%;
    margin-left: 20px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:white;
    text-shadow:
    3px 3px 0 #3E333F,
  -1px -1px 0 #3E333F,
   1px -1px 0 #3E333F,
   -1px 1px 0 #3E333F,
    1px 1px 0 #3E333F;
}