.playlist-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .3), 
        rgba(20,20,20, .3)),
        url("../images/vinyls.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.card {
    margin-left: 65%;
    margin-top: 20%;
    width: 18rem;
    background-color: #B1DFE8;
}
    
#playlist {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 50%;

}