body {
    margin:0
}
#content {
    float:left;
    width:67%;
    padding: 20px;
    margin-left: -35px;
}
#sidebar {
    float:left;
    width:33%;
}

.form-group {
    margin-top: -10px;
}

#logo {
    margin-top: 20%;
    padding-top: 30px;
    height: 90%;
    width: 90%;
    
}

#usual {
    text-align: center;
    margin-top: 50%;
    font-size: 45px;
    font-family: 'Cookie', cursive;
    /* color: #B1DFE8; */
    color: #FFC65C;
    letter-spacing:2px;
    font-weight: lighter;

}

img {
    width: 100%;
    padding-left: 10px;
    /* height:100%; */
}

input {
    position: relative;
    width: 300px !important;
}

#welcome {
    color: white;
    font-size: 80px;
    z-index: 50;
    margin-top: -40%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.7;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6));

}
/* 
center {
    text-align: left;
} */
/* 
center label#formquestion {
    text-align: left;
} */

#waiting {
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    opacity: 0.9;

}
